{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black;
}
.logo{
  height: 200px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid #999;
}
.logo h1{
  font: bold 40px 'arial';
  padding-top: 15px;
  letter-spacing: 2px;
}
.topmenu ul{
  margin-top: 39px;
}
.topmenu ul li{
  display: inline-block;
}
.topmenu ul li a{
  display: block;
  font: bold 14px 'arial';
  color: black;
  margin: 0px 18px;
  letter-spacing: 1px;
}